
.hero-image {
 background-size: cover;
 background-image: radial-gradient(circle, #ff70b5, #ff839b, #ff9e8a, #ffb986, #ffd391, #eee098, #dceca7, #cbf6bc, #a8f4d1, #90efe7, #8ae6f8, #99dbff); 
 height: 300px;
 position: relative;
 margin-bottom: 7px;

}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}




.whatis-section {
    margin: 0;
    background-color: #99DBFF;
}

.about-section {
    margin: 0;
    background-color: #AEDDD6;
}

.support-section {
    margin: 0;
    background-color: #FF70B5;
}

.library-section {
    margin: 0;
    background-color: #FCFCD4;
}