body{
    font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

p, span, div {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.hero-image {
    background-size: contain;
    background-image: url(Bhsimage.png);
    background-position: top, center;
    width: 100%;
    height: 100vh;
    position: center, center;
    margin-bottom: 7px;
    background-repeat: no-repeat;
    overflow: hidden;

}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    background: linear-gradient(to right, #FF70B5, #FFB986, #FFF3AD, #AEDDD6, #99DBFF, #D6CDDF);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    -webkit-background-clip: text;
    color: transparent;
    
}

h2, p {
    text-align: center;
}

#whatis-section,
#about-section,
#support-section,
#library-section,
#calander-section {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;  
}
#whatis-paragraph,
#about-paragraph,
#support-paragraph,
#library-paragraph,
#calander-section {
    margin-top: 0;
    margin-bottom: 10px;
}

#about-section {
    margin: 0;
    background-color: #AEDDD6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
    
}
#about-paragraph {
    background-color: #AEDDD6;
}

#whatis-section {
    margin: 0;
    background-color: #99DBFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
}
#whatis-paragraph {
    background-color: #99DBFF;
}
.learn-more-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ADE2FF; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s; 
}

.learn-more-button:hover {
    background-color: #99DBFF; 
}


#support-section{
    margin:0;
    background-color: #FF70B5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
}
#support-paragraph{
    background-color: #FF70B5;
}
.support-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF70B5;
    margin-bottom: 10px;
}
.support-text {
    padding: 10px;
    text-align: center;
    flex: 1;
}
.support-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF99CA; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s; 
}
.support-button:hover {
    background-color: #FF70B5; 
}
.container {
    display: grid;
    grid-template-columns: 1fr 40px 1fr;
    grid-gap: 20px;
    width: 100%;
    justify-content: center;
    background-color: #FF70B5;
}

.image-container {
    text-align: center;
    padding: 5px;
    max-width: 300px; 
}
#library-section{
    margin:0;
    background-color: #FFF3AD;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
}
#library-paragraph{
    background-color: #FFF3AD;
}

#calander-section {
    margin: 0;
    background-color: #FFB986;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
}